.workexp-container {
    background-color: whitesmoke;
    padding-top: 10%;
}
.workexp-container hr{
    width: 40%;
    color: gray;
    margin: auto;
    margin-bottom: 3%;
}
.vertical-timeline-element-title{
    color: #1e1e2c;
}